<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">ivqBlog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="$state.current.name == 'home' ? 'active' : ''">
                    <a class="blog-nav-item" ui-sref="home">首页</a>
                </li>
                <li ng-class="($state.current.name == 'category' || $state.current.name == 'post') && $stateParams.route == category.route ? 'active' : ''" ng-repeat="category in categories">
                    <a class="blog-nav-item" ui-sref="category({route:category.route})">{{category.name}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="$root.currentUser">
                <li><a class="blog-nav-item admin-link" target="_blank" href="/admin">管理后台</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="关键字" class="form-control">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-success">搜索</button>-->
            <!--</form>-->
        </div>
    </div>
</nav>