.nav-tag {
  text-align: left;
  h1 {
    font-size: 24px;
    border-bottom: 1px #ddd solid;
    padding: 0 0 10px 0;
  }

  ul {
    list-style: none;
    li {
      padding: 10px 10px 0 10px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .nav-tag {
    display: none;
  }
}