.main {
  .post-detail {
    margin: 30px 0 0 0;
    .post-title {
      color: #d66c54;
      font-size: 22px;
      text-align: center;
    }
    .post-meta {
      padding: 20px 0 10px 0;
      color: #777777;
      text-align: center;
      border-bottom: 1px #ddd solid;
      .action{
        margin:0 0 0 10px;
        font-weight: bold;
      }
    }
    .post-content {
      font-size: 14px;
      h3 {
        font-size: 16px;
        margin: 0 0 10px 0;
        color:#434343;
      }
      p {
        margin: 0 0 5px;
      }
      ol, ul {
        padding: 0 0 0 30px;
      }
    }
  }

  .post-comments {
    margin: 30px 0 0 0;
    .comment-title {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding: 0 0 5px 0;
    }
    .comment-item {
      border-bottom: 1px solid #ccc;
      padding: 5px 0 0 0;
      span {
        margin: 0 5px;
      }
      .comment-content {
        padding: 10px;
      }
    }
    form {
      padding: 20px 0 0 0;
      .error-tip {
        display: block;
        padding-top: 7px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    .post-detail {
      .post-title {
        text-align: left;
        font-size: 20px;
        line-height: 25px;
      }
      .post-meta {
        padding-top: 10px;
      }
    }
  }
}