<a name="post-top"></a>
<div class="post-list">
    <h1 ng-if="listName">
        {{listName}}
    </h1>
    <div class="post-item" ng-repeat="article in articles" ng-if="articles.length">
        <div class="info">
            <div class="reply-view">
                <span class="reply" title="回复数">{{article.comments.length}}</span>
                <span class="seperator">/</span>
                <span class="view" title="浏览">{{article.views}}</span>
            </div>
            <a class="category" ui-sref="category({route:article.category.route})">{{article.category.name}}</a>
            <a class="title" ui-sref="post({route:article.category.route, articleId:article._id})" title="{{article.title}}">{{article.title}}</a>
        </div>
        <div class="time"><span>{{article.time.publish | fromNow}}</span></div>
    </div>
    <div class="page-container" ng-if="articles.length">
        <pagination
                boundary-links="true"
                total-items="totalItems"
                ng-model="currentPage"
                items-per-page="itemsPerPage"
                class="pagination-sm"
                ng-change="pageChanged()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
        </pagination>
    </div>
</div>
