.main {
  .post-list {
    .post-item {
      border-bottom: 1px #ddd solid;
      padding: 7px 0;
      font-size: 14px;
      overflow: hidden;
      .info {
        float:left;
        span {
          margin: 0 3px 0 0;
          text-align: center;
        }
        .category {
          background: #eee;
          margin: 0 3px 0 0;
          padding: 2px 5px;
          font-size: 12px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .time {
        float: right;
        text-align: right;
        margin: 2px 0 0 0;
      }
    }

    .page-container {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .main .post-list .post-item {
    .time {
      display: none;
    }
  }
}