.main {
  .post-list {
    h1 {
      color: #d66c54;
      font-size: 20px;
      padding: 0;
      margin: 0 0 5px 0;
    }
    .post-item {
      border-bottom: 1px #ddd solid;
      padding: 7px 0;
      font-size: 14px;
      overflow: hidden;
      .info {
        float: left;
        .reply-view {
          float: left;
          margin: 0 7px 0 0;
          min-width:40px;
          text-align: center;
          display: inline-block;
          .reply {
            color: #9e78c0;
          }
          .seperator {
            margin: 0 -3px;
            font-size: 10px;
          }
          .view {
            font-size: 10px;
            color: #b4b4b4;
          }
        }
        a.category {
          display: block;
          float: left;
          color: #FFFFFF;
          background: #80bd01;
          margin: 0 7px 0 0;
          padding: 2px 5px;
          font-size: 10px;
          border-radius: 5px;
          &:hover {
            text-decoration: none;
          }
        }
        a.title {
          &:visited {
            color: #888888;
          }
        }
      }
      .time {
        color: #778087;
        float: right;
        text-align: right;
        margin: 2px 0 0 0;
      }
    }

    .page-container {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .main .post-list .post-item {
    .info {
      .reply-view {
        display: none;
      }
      .category {
        display: none;
      }
    }
    .time {
      display: none;
    }
  }
}