<a name="post-top"></a>
<div class="post-list">
    <div class="post-item" ng-repeat="article in articles">
        <div class="info">
            <div class="reply-view"><span class="reply">{{article.comments.length}}</span><span
                    ckass="seperator">/</span><span class="view">{{article.views}}</span></div>
            <a class="category" ui-sref="category({categoryId:article.category._id})">{{article.category.name}}</a>
            <a class="title" ui-sref="post({route:article.category.route, articleId:article._id})" title="{{article.title}}">{{article.title}}</a>
        </div>
        <div class="time"><span>{{article.time.publish | fromNow}}</span></div>
    </div>
    <div class="page-container">
        <pagination
                boundary-links="true"
                total-items="totalItems"
                ng-model="currentPage"
                items-per-page="itemsPerPage"
                class="pagination-sm"
                ng-change="pageChanged()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
        </pagination>
    </div>
</div>
