body {
  font-family: "Microsoft Yahei", "Simsun", "Open Sans";
  color: #333;
  padding-top: 50px;
  font-size: 12px;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

.jumbotron {
  margin: 0 0 15px 0;
}

a:hover {
  cursor: pointer;
}

.footer {
  color: #777;
  padding: 10px 0 0 0;
  text-align: center;
}