body {
  font-family: "Microsoft Yahei", "Simsun", "Open Sans";
  color: #333;
  padding-top: 50px;
  font-size: 12px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

.jumbotron{
  margin:0 0 15px 0;
}

a:hover {
  cursor: pointer;
}

.main {
  .post-list {
    .post-item {
      border-bottom: 1px #ddd solid;
      padding: 10px 0;
      font-size: 14px;
      .title {
        margin-right: 30%;
      }
      .info {
        width: 30%;
        float: right;
        text-align: right;
      }
    }

    .page-container {
      text-align: center;
    }
  }
  .post-detail{
    .post-title{
      color: #d66c54;
      font-size: 22px;
      text-align: center;
    }
    .post-meta{
      padding:15px 0 10px 0;
      color:#777777;
      text-align: center;
      border-bottom: 1px #ddd solid;
    }
  }
}

.footer {
  color: #777;
  padding: 10px 0 0 0;
  text-align: center;
}