body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
  background: #F7F7F7;
  color: #555;
  min-height: 2000px;
  padding-top: 50px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

.main {
  border: 1px solid #ddd;
  background: #fff;
  padding: 0 15px;
  .post-item {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    .post-item-thumb {
      min-height: 150px;
      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }

  .post-title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0 0 5px 0;
  }

  .post-meta{
    border-bottom: 1px solid #cccccc;
    padding:0 0 5px 0;
    span{
      color:#888888;
      margin:0 3px;
    }
  }

  .post-detail {
    padding: 15px;
    .post-description {
      padding: 10px;
      border: 1px solid #ddd;
    }
    .post-content {
      margin: 10px 0 0 0;
      line-height: 25px;
    }
  }

  .page-container{
    text-align: center;
    vertical-align: middle;
  }
}

.footer {
  background: #000;
  color: #777;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
}