.main {
  .post-list {
    .post-item {
      border-bottom: 1px #ddd solid;
      padding: 10px 0;
      font-size: 14px;
      .title {
        margin-right: 30%;
      }
      .info {
        width: 30%;
        float: right;
        text-align: right;
      }
    }

    .page-container {
      text-align: center;
    }
  }
}