.main {
  .post-list {
    .post-item {
      border-bottom: 1px #ddd solid;
      padding: 10px 0;
      font-size: 14px;
      .title {
        margin-right: 30%;
      }
      .info {
        width: 40%;
        float: right;
        text-align: right;
        margin: 2px 0 0 0;
        li {
          display: inline-block;
          span {
            padding: 0 5px 0 0;
          }
        }
      }
    }

    .page-container {
      text-align: center;
    }
  }
}