<a name="post-top"></a>
<div class="post-list">
    <div class="post-item" ng-repeat="article in articles">
        <div class="info">
            分类：<a ui-sref="list({categoryId:article.categoryId})">{{article.categoryName}}</a> |
            <span>作者：{{article.author}}</span> | <span>浏览：{{article.views}}</span> | <span>评论：</span>
        </div>
        <div class="title">
            <span>[{{article.time.publish}}]</span>
            <a ui-sref="detail({articleId:article._id})" title="{{article.title}}">{{article.title}}</a>
        </div>
    </div>
    <div class="page-container">
        <pagination
                boundary-links="true"
                total-items="totalItems"
                ng-model="currentPage"
                items-per-page="itemsPerPage"
                class="pagination-sm"
                ng-change="pageChanged()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
        </pagination>
    </div>
</div>
