<a name="post-top"></a>
<div class="post-list">
    <div class="post-item" ng-repeat="article in articles">
        <ul class="info">
            <li>
                <span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span><a
                    ui-sref="list({categoryId:article.category._id})">{{article.category.name}}</a> |
            </li>
            <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{article.author}} |</li>
            <li><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>{{article.views}} |</li>
            <li><span class="glyphicon glyphicon-thumbs-up"
                      aria-hidden="true"></span> {{article.comments.length}}
            </li>
        </ul>
        <div class="title">
            <span>[{{article.time.publish | convertTime}}]</span>
            <a ui-sref="post({categoryId:article.category._id, articleId:article._id})" title="{{article.title}}">{{article.title}}</a>
        </div>
    </div>
    <div class="page-container">
        <pagination
                boundary-links="true"
                total-items="totalItems"
                ng-model="currentPage"
                items-per-page="itemsPerPage"
                class="pagination-sm"
                ng-change="pageChanged()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
        </pagination>
    </div>
</div>
