<ul class="nav navbar-nav pull-right">

    <!-- 网站预览 -->
    <li class="dropdown" id="header_notification_bar">
        <a href="../index.html" target="_blank">
            <i class="fa fa-meh-o"></i> 网站预览
        </a>
    </li>

    <!-- 个人账户 -->
    <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" src="assets/img/avatar1_small.jpg"/>
            <span class="username">
                admin
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="extra_profile.html"><i class="fa fa-user"></i> 个人设置</a>
            </li>
            <li>
                <a href="" ng-click="logout()"><i class="fa fa-key"></i> 退出</a>
            </li>
        </ul>
    </li>
</ul>