<div class="portlet box">
    <div class="portlet-body form">
        <form class="form-horizontal" name="form">
            <div class="form-body">
                <div class="tabtable table-custom table-full-width">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1" data-toggle="tab">账户信息</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2">用户名</label>

                                    <div class="col-md-4">
                                        <label class="form-text">{{model.userName}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">电子邮箱</label>

                                    <div class="col-md-4">
                                        <input type="text" name="email" class="form-control"
                                               ng-model="model.email" required=""/>
                                        <div ng-show="form.$submitted || form.email.$touched">
                                            <span ng-show="form.email.$error.required" class="help-block">邮箱不能为空</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">旧密码</label>

                                    <div class="col-md-4">
                                        <input type="password" name="oldPassword" class="form-control"
                                               ng-model="model.pwd" required=""/>

                                        <div ng-show="form.$submitted || form.oldPassword.$touched">
                                            <span ng-show="form.oldPassword.$error.required"
                                                  class="help-block">请填写旧密码</span>
                                            <span ng-show="wrongPassword"
                                                  class="help-block">{{wrongPassword}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">新密码</label>

                                    <div class="col-md-4">
                                        <input type="password" name="newPassword" class="form-control"
                                               ng-model="model.newPassword" required=""/>

                                        <div ng-show="form.$submitted || form.newPassword.$touched">
                                            <span ng-show="form.newPassword.$error.required"
                                                  class="help-block">请填写新密码</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">重复新密码</label>

                                    <div class="col-md-4">
                                        <input type="password" name="confirmPassword" class="form-control"
                                               ng-model="model.confirmPassword" equals="{{model.newPassword}}"
                                               required=""/>

                                        <div ng-show="form.$submitted || form.confirmPassword.$touched">
                                            <span ng-show="form.confirmPassword.$error.required" class="help-block">请重复新密码</span>
                                            <span ng-show="!form.confirmPassword.$error.required && form.confirmPassword.$error.equals && form.newPassword.$dirty"
                                                  class="help-block">新密码和重复新密码不一致</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">已启用</label>

                                    <div class="col-md-4">
                                        <label class="form-checkbox">
                                            <input type="checkbox" ng-model="model.enabled"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">注册时间</label>

                                    <div class="col-md-4">
                                        <label class="form-text">{{model.createTime}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">最后登录时间</label>

                                    <div class="col-md-4">
                                        <label class="form-text">{{model.lastLoginTime}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-2 col-md-9">
                    <input type="button" name="cancel" class="btn dark" value="取消" ui-sref="category"/>
                    <input type="submit" name="updatePassword" ng-disabled="form.$invalid" class="btn green"
                           value="修改密码"
                           ng-click="updatePassword()"/>
                    <input type="submit" name="save" class="btn blue" value="保存"
                           ng-click="saveAccount()"/>
                </div>
            </div>
        </form>
    </div>
</div>