<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <div class="sidebar-toggler hidden-phone">
                </div>
            </li>
            <li ng-class="{active: tab.active}" ng-repeat="tab in tabs">
                <a ng-if="!tab.childs.length" ui-sref="{{tab.route}}" title="{{tab.title}}" ng-click="expandTab(tab)">
                    <i class="fa {{tab.icon}}"></i>
                    <span class="title">
                        {{tab.title}}
                    </span>
                </a>
                <a ng-if="tab.childs.length" href="javascript:void(0)" title="{{tab.title}}" ng-click="expandTab(tab)">
                    <i class="fa {{tab.icon}}"></i>
                    <span class="title">
                        {{tab.title}}
                    </span>
                    <span class="arrow" ng-class="{open: !tab.expanded}">
                    </span>
                </a>
                <ul class="sub-menu" ng-if="tab.childs.length !=0">
                    <li ng-repeat="child in tab.childs" ng-class="{active: child.active}">
                        <a ui-sref="{{child.route}}" title="{{child.title}}">
                            <i class="fa {{child.icon}}"></i>
                            {{child.title}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>