.about {
  background: #eee;
}

.time-line {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;

  &:before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }
}

.time-line-block {
  position: relative;
  margin: 2em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.time-line-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  &.year {
    background: #75ce66;
  }
  &.start {
    background: #c03b44;
  }
}

.time-line-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  &:before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    color: #303e49;
    font-size: 24px;
  }
  p {
    margin: 1em 0;
    padding: 0;
  }
  .read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: #FFFFFF;
    border-radius: 0.25em;
  }
}

.time-line-content .read-more, .time-line-content {
  display: inline-block;
}

.no-touch .time-line-content .read-more:hover {
  background-color: #bac4cb;
}

a.read-more:hover {
  text-decoration: none;
  background-color: #424242;
}

@media only screen and (min-width: 1170px) {
  .time-line {
    margin-top: 3em;
    margin-bottom: 3em;

    &:before {
      left: 50%;
      margin-left: -2px;
    }

    .time-line-block {
      margin: 4em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .time-line-center {
      width: 60px;
      height: 60px;
      line-height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    .time-line-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
      &:before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
      }
      .read-more {
        float: left;
      }
    }

    .time-line-block:nth-child(even) {
      .time-line-content {
        float: right;
        &:before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: white;
        }
        .read-more {
          float: right;
        }
      }
    }
  }
}
